@model DateTime

<h1 class="text-center">Enter Date Range</h1>

<div class="container">
    <form asp-controller="Report" asp-action="Index" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="startDate">Start Date:</label>
                    <input type="date" class="form-control" id="startDate" name="startDate" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="endDate">End Date:</label>
                    <input type="date" class="form-control" id="endDate" name="endDate" required />
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
