<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<!-- File target -->
		<target name="file1" xsi:type="File" fileName="C:/Users/BAPS/Desktop/ASP.NET Core/API/Jinay Shah - LogsAPI/Logs/${shortdate}/file1.txt"/>

		<!-- Database target -->
		<target name="database" xsi:type="Database">
			<connectionString>server=DESKTOP-2JN7IG8\SQLEXPRESS; database=CoreMVC; trusted_connection=true; TrustServerCertificate=true;</connectionString>
			<commandText>
				insert into log (MachineName, Logged, Level, Message,Logger, Callsite, Exception) values (@MachineName, @Logged, @Level, @Message,@Logger, @Callsite, @Exception);
			</commandText>
			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Callsite" layout="${callsite}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="database"/>
		<logger name="*" minlevel="Trace" writeTo="file1"/>
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="database"></logger>
		<logger name="Microsoft.*" maxlevel="Info" final="true"></logger>
		<logger name="System.Net.Http.*" maxlevel="Info" final="true"></logger>
	</rules>
</nlog>
